﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

@font-face {
    font-family: 'vazir';
    src: url('../fonts/Vazir.ttf') format('truetype');
}

body.bodyrtl {
    font-family: vazir !important;
}

body {
    font-family: vazir !important;
}

.role {
    color: navy;
    font-size: 9px;
    padding-right: 10px;
}

.inner-toolbar {
    height: 52px;
    background: #1565c0;
    padding: 0;
    border: 1px solid transparent;
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: transparent;
    border-left: 1px solid #121418;
}

    .inner-toolbar::after {
        display: table;
        content: " ";
    }

    .inner-toolbar i {
        padding-left: 10px;
    }


    .inner-toolbar ul {
        padding: 0;
        margin: 0;
        -webkit-transition: .5s;
        transition: .5s;
        list-style: none;
    }

    .inner-toolbar > ul > li {
        display: inline-block;
        padding: 15px;
        font-size: 13px;
        border-right: 1px solid #121418;
        position: relative;
        -webkit-transition: .5s;
        transition: .5s;
        float: right;
    }

        .inner-toolbar > ul > li > a {
            display: inline-block;
            padding: 0;
            color: #c6f0f0;
        }

        .inner-toolbar > ul > li i.fa {
            font-size: 14px;
        }
