﻿.ipmpChecklist, .ipmpSubChecklist {
    padding-right: 10px !important;
    padding-left: 0px !important;
    
}

   

    .ipmpChecklist .editBox, .ipmpSubChecklist .editBox {
        float: left !important;       
    }
