﻿.k-rtl .k-grid-header .k-with-icon .k-link {
    margin-left: 0.3em !important;
}

.k-loading {
    -ms-background-position: 0 0 !important;
    background-position: 0 0 !important;
}

@media screen {
    .k-rtl div.k-grid-header, .k-rtl div.k-grid-footer {
        padding-left: 17px !important;
        padding-right: 0 !important;
    }
}

.k-menu .k-image, .k-menu .k-item > .k-link > .k-icon, .k-menu .k-sprite, .k-menu-scroll-wrapper .k-image, .k-menu-scroll-wrapper .k-item > .k-link > .k-icon, .k-menu-scroll-wrapper .k-sprite, .k-popups-wrapper .k-image, .k-popups-wrapper .k-item > .k-link > .k-icon, .k-popups-wrapper .k-sprite {
    margin: -2px -4px 0 4px;
    vertical-align: middle;
}

.k-i-collapse, .k-i-expand {
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    transform: scaleX(-1);
    margin-left: 0;
}

.k-menu .k-item > .k-link > .k-i-arrow-60-right, .k-menu-scroll-wrapper .k-item > .k-link > .k-i-arrow-60-right, .k-popups-wrapper .k-item > .k-link > .k-i-arrow-60-right {
    position: absolute;
    top: 24%;
    margin-top: -8px;
    left: .2rem;
}

.k-menu .k-item .k-link .k-i-arrow-60-right {
    position: absolute;
    top: 52%;
    left: .2rem !important;
    right: auto !important;
}

.k-menu .k-item > .k-link, .k-menu-scroll-wrapper .k-item > .k-link, .k-popups-wrapper .k-item > .k-link {
    display: block;
    padding: 6px !important;
}

.k-gantt-toolbar li:first-child + li, .k-gantt-toolbar li:first-child + li > .k-link {
    border-top-right-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
}

.k-gantt-toolbar > ul > li:first-child + li {
    border-right-width: 1px;
}

.k-rtl .k-autocomplete, .k-block, .k-calendar .k-link, .k-calendar td, .k-calendar-container, .k-colorpicker, .k-combobox, .k-datepicker, .k-datetimepicker, .k-drag-clue, .k-dropdown, .k-dropdown-wrap, .k-editor-inline, .k-grid .k-filter-options, .k-grouping-header .k-group-indicator, .k-inline-block, .k-list-container, .k-multiselect, .k-notification, .k-numeric-wrap, .k-numerictextbox, .k-picker-wrap, .k-slider-selection, .k-slider-track, .k-split-button, .k-textbox, .k-tile, .k-timepicker, .k-tooltip, .k-touch-scrollbar, .k-treeview .k-in, .k-upload, .k-window, .k-window-action, .k-window-titleless .k-window-content {
    border-radius: 2px;
}

    .k-rtl .k-button .btnSave .k-primary .k-autocomplete .k-input, .k-multiselect-wrap, .k-textbox > input {
        border-radius: 2px;
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
        border-bottom-left-radius: 2px;
    }

.k-scheduler-toolbar > ul.k-scheduler-views > li:first-child + li, .k-scheduler-toolbar > ul > li:first-child {
    border-right-width: 1px !important;
}

