﻿
.k-switch {
    border-radius: 6em;
    cursor: pointer;
    width: 6em;
    background: 0 0;
    border: 0;
    outline: 0;
    display: -ms-inline-flexbox;
    display: inline-flex;
    overflow: hidden;
    vertical-align: middle;
    font-size: 10px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: left
}

    .k-switch [type=checkbox] {
        display: none
    }

.k-switch, .k-switch-container, .k-switch-handle {
    box-sizing: border-box
}

.k-switch-container {
    border-radius: 6em;
    padding: 0 0;
    border-width: 0;
    border-style: solid;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    position: relative;
    outline: 0;
    transition: background-color .2s ease-out 0s
}

.k-switch-handle {
    border-radius: 6em;
    width: 3em;
    height: 3em;
    border-width: 1px;
    border-style: solid;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    left: 0;
    transition: left .2s ease-out 0s
}

.k-ie .k-switch-handle {
    display: block
}

.k-switch-on .k-switch-handle {
    left: calc(100% - 3em)
}

.k-edge .k-switch-on .k-switch-handle, .k-ie .k-switch-on .k-switch-handle {
    left: 100%;
    margin-left: -3em
}

.k-switch-off .k-switch-handle {
    left: 0
}

.k-switch-label-off, .k-switch-label-on {
    display: inline;
    width: calc(100% + -3em + -10px);
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    text-transform: uppercase;
    line-height: 3em;
    overflow: hidden
}

.k-switch-label-on {
    text-align: left;
    left: 8px
}

.k-switch-label-off {
    text-align: right;
    right: 8px
}

.k-rtl .k-switch.k-switch-on .k-switch-handle, .k-switch[dir=rtl].k-switch-on .k-switch-handle {
    left: 0
}

.k-rtl .k-switch.k-switch-off .k-switch-handle, .k-switch[dir=rtl].k-switch-off .k-switch-handle {
    left: calc(100% - 3em)
}

.k-rtl .k-switch .k-switch-label-on, .k-switch[dir=rtl] .k-switch-label-on {
    text-align: right;
    left: initial;
    right: 8px
}

.k-rtl .k-switch .k-switch-label-off, .k-switch[dir=rtl] .k-switch-label-off {
    text-align: left;
    left: 8px;
    right: initial
}

.k-switch-container {
    box-shadow: inset 0 0 0 1px rgba(0,0,0,.08)
}

.k-switch-handle {
    background-clip: padding-box
}

.k-edge12 .k-switch-handle, .k-edge13 .k-switch-handle, .k-ie11 .k-switch-handle {
    background-clip: border-box
}

.k-switch-label-off, .k-switch-label-on {
    text-shadow: none
}

.k-switch-on .k-switch-container {
    color: #fff;
    background-color: #ff6358
}

.k-switch-on .k-switch-handle {
    border-color: rgba(0,0,0,.08);
    color: #fff;
    background-color: #f2f2f2
}

.k-switch-on.k-state-hover .k-switch-container, .k-switch-on:hover .k-switch-container {
    color: #fff;
    background-color: #eb5b51
}

.k-switch-on.k-state-hover .k-switch-handle, .k-switch-on:hover .k-switch-handle {
    border-color: rgba(0,0,0,.15);
    color: #fff;
    background-color: #ededed
}

.k-switch-on .k-switch-label-off {
    color: transparent
}

.k-switch-off .k-switch-container {
    color: #656565;
    background-color: #fff
}

.k-switch-off .k-switch-handle {
    border-color: rgba(0,0,0,.08);
    color: #656565;
    background-color: #f2f2f2
}

.k-switch-off.k-state-hover .k-switch-container, .k-switch-off:hover .k-switch-container {
    color: #656565;
    background-color: #fff
}

.k-switch-off.k-state-hover .k-switch-handle, .k-switch-off:hover .k-switch-handle {
    border-color: rgba(0,0,0,.15);
    color: #656565;
    background-color: #ededed
}

.k-switch-off .k-switch-label-on {
    color: transparent
}

.k-switch {
    box-shadow: none
}

    .k-switch.k-state-focused .k-switch-container, .k-switch:focus .k-switch-container {
        outline: 0;
        box-shadow: inset 0 0 0 3px rgba(0,0,0,.06)
    }

    .k-switch.k-state-hover .k-switch-container, .k-switch:hover .k-switch-container {
        box-shadow: inset 0 0 0 1px rgba(0,0,0,.15)
    }

    .k-switch.k-state-disabled {
        cursor: default
    }

        .k-switch.k-state-disabled.k-state-focused, .k-switch.k-state-disabled:focus {
            box-shadow: inset 0 0 0 1px rgba(0,0,0,.08)
        }

    .k-switch[aria-readonly=true] {
        pointer-events: none
    }




.k-edit-cell > .k-textbox, .k-edit-cell > .k-widget:not(.k-switch), .k-edit-cell > .text-box, .k-grid-edit-row > td > .k-textbox, .k-grid-edit-row > td > .k-widget:not(.k-switch), .k-grid-edit-row > td > .text-box {
    margin-left: -9px
}

.k-edit-cell > .k-textbox, .k-edit-cell > .k-widget:not(.k-switch), .k-grid-edit-row td > .k-textbox, .k-grid-edit-row td > .k-widget:not(.k-switch) {
    width: calc(100% + 18px)
}

.k-form .k-widget:not(.k-calendar):not(.k-switch), .k-form input, .k-form label:not(.k-checkbox-label):not(.k-radio-label) {
    display: block
}