﻿.k-edit-label, .k-edit-form-container .editor-label {
    float: right !important;
}

.k-upload-status {
    right: auto !important;
    left: 12px;
}

.k-rtl .k-edit-label, .k-rtl .k-edit-form-container .editor-label {
    text-align: right !important;
}

.k-state-active, .k-state-active:hover, .k-active-filter, .k-tabstrip .k-state-active {
    background-color: transparent !important;
}

.k-tabstrip > .k-tabstrip-items > li.k-item {
    border: solid whitesmoke 1px;
}

.k-tabstrip > .k-tabstrip-items > li.k-first {
    margin-right: 3px;
}


.k-tabstrip > .k-tabstrip-items > li.k-item:hover {
    background-color: #60adf0 !important;
}

.k-tabstrip li.k-item .k-link:hover {
    color: white !important;
}

.k-tabstrip li.k-state-active {
    background-color: #428bca !important;
    margin-top: -3px !important;
    padding-bottom: 4px !important;
}

    .k-tabstrip li.k-state-active .k-link {
        color: white !important;
    }

    .k-tabstrip li.k-state-active:hover {
        border-color: #428bca !important;
    }

    .k-tabstrip li.k-state-active .k-link:hover {
        color: white !important;
    }

.k-loading {
    border-top-style: none !important;
}

.k-calendar {
    font-family: IRANSansFaNum,Tahoma !important;
}

.k-state-focused, .k-button:focus, .k-button.k-state-focused, .k-button:focus:active {
    box-shadow: none;
}

.k-multiselect span[style*="hidden"] {
    top: 0 !important;
    left: 0 !important
}

.k-datepicker {
    max-width: 160px !important;
}

div.k-window-content {
    overflow: auto !important;
}

.k-menu .k-state-hover > .k-link {
    background-color: transparent !important;
}

/*.k-i-arrow-60-right::before {

    content: "\e007" !important;

}*/
input[type="radio"], input[type="checkbox"] {
    margin: 0 0 0 4px;
}

.fieldlistli input[type="checkbox"], .fieldlistli input[type="radio"] {
    margin-top: 11px !important;
}

.k-panelbar .k-tabstrip > .k-content, .k-tabstrip > .k-content {
    position: static;
    border-style: solid;
    border-width: 1px;
    margin: 0 .286em .3em;
    padding: 5px;
    zoom: 1;
}

.k-grid-content {
    min-height: 100px;
}

@media screen and (max-width: 991px) {
    #abfaProjectInfo .k-multiselect {
        margin-right: 31%;
    }
}

@media screen and (min-width: 992px) {
    #abfaProjectInfo .k-multiselect {
        margin-right: -15px;
    }
}

html .k-grid tr.k-alt:hover {
    background: #f1f1f1;
}

.k-grid .k-selectable tr:hover, .k-grid .k-selectable tr.k-alt:hover {
    background-color: #cdd8ee !important;
}

select[disabled] {
    background: #dddddd;
}


.k-pager-wrap .k-dropdown {
    width: 5.9em; /* specify the width */
}

.k-state-hover .k-multiselect-wrap .k-button {
    color: black !important;
}

.k-event-delete {
    color: black !important;
}

.k-toolbar .k-button.k-state-active:hover, .k-split-container .k-button.k-state-active:hover, .k-overflow-container .k-button.k-state-active:hover, .k-panelbar > li > .k-link.k-state-selected {
    color: #231e4c !important;
}

.k-grid td {
    line-height: 1.3em;
}
.k-rtl .k-grid tbody td:last-child, .k-rtl .k-grid thead th:last-child {
    border-left-width: 1px;
}
.k-textbox .k-icon {
    top: 50%;
    margin: -8px;
    position: absolute;
}